.vagrant/
**/*.retry
**/*.pyc
**/.DS_Store
ansible/plugins/
ansible/roles/theirs/**/
venv/
**/.terraform/
**/.terraform*
**/*.backup
.settings/
**/terraform.tfstate*
**/_pre*
terraform/.terragrunt
terraform/vars/backend/
.project
.pydevproject
.idea/**
.vscode/